<div class="user-movies-wrapper">
  <div class="user-movies-container row" id="my-movies">
    <div class="col">
      <h1>{{title}}</h1>

      <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Search by title...">
      
      <button type="button" class="btn btn-info edit-button" (click)="showButtons()">
        {{buttonsDisplayed.val ? "Close edit" : "Edit my movies"}}
      </button>

      <h5 class="no-movies" *ngIf="!movies.length">Select movies from below to add to your collection</h5>
    </div>
  </div>

  <div class="row">
    <div class="card-deck">
      <app-movie [movie]="movie" [buttonText]="buttonText" [buttonsDisplayed]="buttonsDisplayed"
      (onButtonClick)="removeMovie($event)" *ngFor="let movie of movies | filter : searchText"></app-movie>
    </div>
  </div>
</div>