<div class="user-movies-container row">

  <div class="col">
    <h1>{{title}}</h1>

    <div>Budget: "need budget here"</div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search by title...">
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary">Go!</button>
      </div>
    </div>
    
    <button type="button" class="btn btn-info">Edit my movies</button>
  </div>

  <app-movie-list></app-movie-list>
</div>