<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <span class="navbar-brand"><i class="fa fa-film"></i> Movangu</span>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#my-movies">My movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#all-movies">All movies</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item budget">
        <span>Hello, {{user.name}}! You have: <span class="budget-amount">${{user.budget}}</span></span>
      </li>
    </ul>
  </div>
</nav>
