<div class="all-movies-wrapper">
  <div class="all-movies-container row" id="all-movies">
    <div class="col">
      <h1>{{title}}</h1>

      <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Search by title...">
    </div>
  </div>

  <div class="row">
    <div class="card-deck">
      <app-movie [movie]="movie" [buy]="buy" [buttonsDisplayed]="buttonsDisplayed" 
      (onButtonClick)="addMovie($event)" *ngFor="let movie of movies | filter : searchText"></app-movie>
    </div>
  </div>
</div>