/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

body {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    /* background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
}