<div class="card text-center">
  <div class="img-container">
    <img class="card-img-top" src={{movie.imgUrl}} alt="movie" />
  </div>
  <div class="card-block">
    <div ngClass="movie-price">${{movie.price}}</div>
    <h5 class="card-title" ngClass="movie-title">{{movie.title}}
      <span ngClass="movie-year">({{movie.year}})</span>
    </h5>
    <div class="card-text" ngClass="movie-description">
      {{movie.shortDescription}} <a [routerLink]="['movie', movie._id]">Read more...</a>
    </div>
  </div>
  <div type="button" class="movie-button card-footer" (click)="handleClick()" *ngIf="buttonsDisplayed.val">{{buttonText}}</div>
</div>